.logos{
  
  display: flex;
  align-items: center;
  margin-right: 150px;
}
.img{
  height: 20px;
}

.Header{
  height: 50px;
  width: 100%;
  background-color: forestgreen;
  display: flex;
  justify-content: center;
}

.background{
  width: 100%;
  height:94vh;
  background: chartreuse;
  display: flex;
  justify-content: center;
}

.routes{
  width: 50%;
  height: 94vh;
  background: green;
}

.Dashboard{
  border-style: solid;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dash{
  font-size: 30px;
}

.property{
  background-color: lawngreen;
  height:40px;
  width: 200px;
  font-size: 20px;
}